{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">League Project</h1>
  </div>
</div>
  {% load static %}

<form action="/legend" method='GET'>
<div class="form-row align-items-center">
  <div class="col-sm-3 my-1">
    <input type="text" class="form-control" name="name" placeholder="Summoner name..." required>
  </div>
  <div class="col-sm-3 my-1">
    <select id="opt" class="custom-select my-1 mr-sm-2" name="region">
      <option value="na1">NA</option>
      <option value="eu1">EU</option>
    </select>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
  </form>
<!---
<form action="/legend" method='GET'>
  <input id="summName" type="text" name="name" required>
  <select name="region">
    <option value="na1">NA</option>
    <option value="eu1">EU</option>
  </select>
  <input type="submit" value="Submit">
</form>
--->

</div>


{% endblock %}
