{% extends "base.html" %}

{% block body %}


<div class="container-fill">
  <div class="row">
    <div id="profile" class="col-3">
      {% if sumdata %}
      <h1>{{ sumdata.proName }}</h1>
      <p> {{ sumdata.proLevel }}</p>
      <img src="{{ sumdata.proIconURL }}">
      {% endif %}
    </div>
    <div class="col-7">
      {% for x in masterydata %}
      <div class="container">
        <h1>{{ x.champName }}</h1>
        <img id="champIcon" src="{{ x.champIconURL }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!--
<div class="container" id="profile">
  {% if sumdata %}
  <h1>{{ sumdata.proName }}</h1>
  <p> {{ sumdata.proLevel }}</p>
  <img src="{{ sumdata.proIconURL }}">
  <h1> {{ masterydata.champName }} </h1>
  {% endif %}
</div>

<div class="container" id="content">
  {% for x in masterydata %}
  <div class="row">
    <h1>{{ x.champName }}</h1>
    <img id="champIcon" src="{{ x.champIconURL }}">
  </div>
  {% endfor %}
</div>
-->

{% endblock %}
