body {
  background-color: #23272a;
  height: 100%;
  color: white;
}

#page {
  margin: 5px;
}

#champs img {
  border-radius: 50%;
  height: 50px;
}

.row {
  height: 100%;
}

#profile img {
  border: 5px solid;
  border-color: blue;
}
