body {
  background-color: #271f41;
  height: 100%;
  color: white;
}

#champs img {
  border-radius: 50%;
  height: 50px;
}


#profile {
  background-color: white !important;
}

#profile img {
  border: 5px solid;
  border-color: silver;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


#champIcon {
  border-radius: 50%;
}
